[submodule "firmware/HBridgeController"]
	path = firmware/HBridgeController
	url = https://github.com/janelia-arduino/HBridgeController.git
[submodule "firmware/RungWheelController"]
	path = firmware/RungWheelController
	url = https://github.com/janelia-arduino/RungWheelController.git
