[submodule "firmware/HBridgeController"]
	path = firmware/HBridgeController
	url = https://github.com/janelia-arduino/HBridgeController.git
[submodule "firmware/RungWheelController"]
	path = firmware/RungWheelController
	url = https://github.com/janelia-arduino/RungWheelController.git
[submodule "hardware/h_bridge_controller_3x2"]
	path = hardware/h_bridge_controller_3x2
	url = https://github.com/janelia-kicad/h_bridge_controller_3x2.git
